table {
  border:1px solid black;
  margin: 25px;
}

.table-row {
  border:1px solid black;
  width: 100px;
}
.table-data {
  text-align: center;
  width: 250px;
}

.same {
  color: black;
}

.increased {
  color: green;
}

.decreased {
  color: red;
}
